<div class = "container" >
  <div class = "col-md-4">
    <div class="row">
      <h1> Add a comment! </h1>
    </div>
    <hr>
    <div class="row">
      <%= simple_form_for @comment, url: create_comment_path, as:'comment' do |f| %>
        <%= f.input :description, placeholder: "Write your comment here..", class: 'form-control' %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
