<div class="container">
  <h1>Welcome to the Events page!</h1>
  <div class="col-md-6">
    <% @event.each do |t|%>
      <div class="row">
        <%= image_tag (t.photo), class: " " %>  <%=link_to "#{t.title}", event_path(t)%>
      </div>
    <%end%>
  </div>
</div>
