<script>
var ready;
ready = function() {
    var input = document.getElementById('locationTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
$(document).ready(ready);
$(document).on('turbolinks:load', ready);

google.maps.event.addDomListener(window, 'load', init);

</script>
<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h1>Create an Event</h1>
    </div>
    <hr>
    <div class="row">
      <%= render "form" %>
    </div>
  </div>
</div>
